# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Visual Studio specific directories and files
.vs
bin
obj
*.sln
.vscode
backend/src/.DS_Store
backend/src/StreamProcessor/.DS_Store
cdk/.DS_Store
.DS_Store
!cdk/bin/
